<footer>
  <p>Author: Yazan Dukhan<br>
  <a href="yazandukhan@hotmail.com">YazanDukhan@hotmail.com</a></p>
</footer>
<script>
  document.getElementById('toggleButton').addEventListener('click', function() {
    var div = document.getElementById('myDiv');
    div.classList.toggle('hidden');
  });
</script>
</body>
</html>