<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/users.css" />
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <title>NXT. what's next ... </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="/">NXT.</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/exploremore">Explore More</a></li>
        <li><a href="/profile">Profile</a></li>
        <li>
          <a href="/profile"><img src="<%= loggedInUser.image %>" alt="" /></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
